<!-- @if (movieService.movie(); as singleMovie) {
<div class="container">
  <div class="
    
    bg-dark bg-gradient text-white
    border border-light-subtle rounded-4
    row mt-4 p-4">
    <div class="col-4">
      @if ((movieService.movie()?.poster?.length ?? 0) > 3) {
      <img class="img-fluid rounded-1 " [src]="movieService.movie()?.poster">
      }
    </div>
    <div class="col-8">
      @if ((movieService.movie()?.Title ?? "No title") !== null) {
      <div>
        <h1 class="text-info">{{(movieService.movie()?.Title ?? "No title")}}</h1>
        <h2>Director: {{(movieService.movie()?.Director ?? "No director")}}</h2>
        <h3>Year of release: {{(movieService.movie()?.Year ?? "No year")}}</h3>
        @if (movieService.movie()?.Ratings?.length === 0) {
        <h3>Ratings:</h3>

        @for (rating of movieService.movie()?.Ratings; track rating) {
        <h4>{{rating.source}}</h4>
        <h5>{{rating.value}}</h5>
        }

        }


      </div>
      <a routerLink="/" class="mt-auto btn btn-primary btn-sm" (click)="movieService.movie.set(null)">
        Back Home
      </a>
      }
    </div>

  </div>
</div>

} @else { -->
<div class="
border border-light-subtle rounded-4
row bg-light mx-1 p-4">
  <!-- @if (movieService.movies().length === 0) {
  <h3>Try searching for a movie above</h3>
  }
  @if (movieService.errorMessage() !== null) {
    <h3 class="text-danger">
      {{ movieService.errorMessage() +
      " Please try searching for a different movie"
      }}
    </h3>
  } -->
  @if (movieService.movies()) {
    <h3 class="text-bold">Total movies: {{ movieService.movies().length }}</h3>
  } @else {
    <h3 class="text-bold">No movies found!</h3>
  }

  <div>
    

    <form class="d-flex flex-column gap-3" #deleteForm="ngForm" (ngSubmit)="deleteForm.valid && onSubmit()">
    
    <!-- Input 1: ID -->
    <div class="form-floating">
        <input [(ngModel)]="id" type="text" class="form-control" id="movieID" name="movieID" required placeholder="69c03eecd5b7920faf126ba4">
        <label for="movieID">Movie ID <span class="text-danger">*</span></label>
    </div>

    <!-- Submit Area -->
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="deleteForm.invalid">Delete Movie</button>
    </div>

</form>

  </div>
  

  <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Grid setup with gutters -->
    @for (movieData of movieService.movies(); track movieData._id) {
    <div class="col d-flex"> <!-- Column stretches to match the tallest in the row -->
      <div class="card h-100 w-100"> <!-- Card fills the full height of the column -->
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ movieData.title || "N/A" }}</h5>
          <p class="card-text">{{ movieData.year }}</p>
          <!-- @if (!movieData.poster) { -->
            <!-- <object data=[movieData.poster()] type="image/jpg">
              <img src="fallback-image.jpeg" />
            </object>
            <img class="col-12 object-fit-cover" src="placeholder.svg" alt="placeholder image"> -->

            <img class="object-fit-cover h-100" [src]="movieData.poster" onerror="this.src = 'placeholder.svg';"/>

          <!-- } @else {
            <img class="w-100 rounded-1 " [src]="movieData.poster">
          }
           -->

          <!-- Push the button to the bottom using 'mt-auto' -->
          <!-- <a (click)="movieService.getMovie(movieData._id)" [routerLink]="['/movie', movieData._id]"
            class="btn btn-primary mt-auto">
            View Details
          </a> -->
        </div>
      </div>
    </div>
    }
  </div>
</div>

