ATLAS_URI='mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority'
PORT='5050' # the port you want the express server to run on.
DB_NAME='' # the name of the database in your cluster
COLLECTION_NAME='' # the name of the collection in your database

# Key Aspects of ATLAS_URI:
# Usage: Used in applications (Node.js, Python, Java) to connect to a cluster.

# Storage: Usually stored in a .env file for security, accessed via process.env.ATLAS_URI in JavaScript.

# Acquisition: Obtained from the MongoDB Atlas UI under the "Connect" option for a cluster.

# Common Issues:

# undefined: Ensure the ATLAS_URI is defined in your .env file and that you are using a library to load it (e.g., dotenv).

# IP Address Access: If connection fails, ensure your current IP address is whitelisted in the Atlas Network Access settings (set to 0.0.0.0/0 for access anywhere).